project:
    name: vcr-simple-queue-demo
instance:
    name: dev
    runtime: nodejs16
    region: aws.euw1
    application-id: your-vonage-application-id-goes-here
    entrypoint: ["npm", "start"]
    capabilities:
        - messaging
    configurations:
        defaultSenderId: "Vonage"
        defaultMsgPerSecond: 30
        defaultMaxInflight: 30
    secrets:
        - INTERNAL_API_SECRET
debug:
    name: "debug"
    entrypoint: ["npm", "start"]