project:
    name: vcr-simple-queue-demo
instance:
    name: dev
    runtime: nodejs16
    region: aws.euw1
    application-id: your-vonage-application-id-goes-here
    entrypoint: ["npm", "start"]
    capabilities:
        - messaging
    environment:
        -   name: defaultSenderId
            value: "Vonage"
        -   name: defaultMsgPerSecond
            value: 30
        -   name: defaultMaxInflight
            value: 30
        -   name: INTERNAL_API_SECRET
            secret: INTERNAL_API_SECRET
debug:
    name: "debug"
    entrypoint: ["npm", "run", "start-dev"]